/* EmailStatus */

.status-wrapper {
    width: 200px;
    flex-wrap: wrap;
    gap: 10px;
}

.status-progress-bar {
    width: 100%;
    background-color: lightgray;
    padding: 3px;
    height: 25px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.stripes {
    background-size: 30px 30px;
    background-image: linear-gradient( 135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-fill {
    width: fit-content;
    display: block;
    height: 18px;
    background-color: #659cef;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}