.email-list {
    box-shadow: 0 0 4px 1px #00000038;
    margin: 0 1em;
}

.email-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #00000038;
    padding: 10px;
    width: auto;
    transition: 0.3s;
    cursor: pointer;
    gap: 1em;
}

.email-preview:hover {
    border-left: 3px solid #4d90f0;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.email-preview:active {
    border-left: 3px solid #4d90f0;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.email-preview>* {
    color: #363636;
}

.email-preview a {
    flex: 1;
}

.email-preview-body {
    flex: 1;
    justify-self: flex-end;
}

.email-preview-info h3 {
    text-decoration: none;
    font-size: 1rem;
}

.email-preview-info .sender {
    margin-inline-end: 2em;
}

.email-preview-info .sender, .subject {
    margin-inline-end: 2em;
    width: 100px;
}

h3.subject {
    margin-top: 2px;
}

.read-true {
    background-color: #dbdbdb8c;
    color: #646464;
}

.email-preview .expand-txt {
    color: blue;
}

.email-preview-btns .remove-btn {
    border: none;
}

.email-preview-btns .remove-btn img {
    object-fit: cover;
    max-width: 2.5vw;
}