.email-sidebar {
    margin: 1em 0;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;
    height: 100vh;
    border-right: 1px solid #21252957;
    transform: translateY(-16px);
}

.add-email-btn {
    border: none;
    background-color: transparent;
    padding: 8px;
    margin: 5px 20px;
    box-shadow: 0px 1px 2px 0.5px rgb(59 58 58);
    color: #3c4043;
    min-width: 14vw;
    cursor: pointer;
    font-weight: 700;
    border-radius: 22px;
    min-width: 140px;
    height: 48px;
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: .25px;
    align-items: center;
    justify-content: space-around;
    font-size: 1.04rem;
}

.add-email-btn img {
    object-fit: cover;
    width: 15px
}

.add-email-btn:hover {
    background-color: #5c7bd8;
    color: white;
    border: 1px groove grey;
    transition: 0.3s;
}

.email-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.email-nav a {
    color: #4c4c4c;
    margin-inline-start: 0.5em;
}

.email-nav>* {
    margin: 0.4em 0 0 0;
    padding: 1vh 1.5em;
    min-width: 170px;
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
    cursor: pointer;
}

.email-nav>*:hover {
    background-color: #e8eaed;
}

.email-nav>*:active {
    background-color: #fce8e6;
}

.email-nav>*:visited {
    color: inherit;
}

.email-nav ul>img {
    object-fit: cover;
    width: 15px;
}

@media (max-width: 500px) {
    .email-sidebar {
        background-color: #ffffff;
        position: fixed;
        height: 100vh;
        z-index: 100;
        left: 0;
        justify-content: flex-start;
        /* transition: 0; */
        transition: transform 1s;
    }
    .sidebar-toggle-btn {
        position: fixed;
        text-align: center;
        background-color: #77889978;
        top: 420px;
        left: 21px;
        font-size: 2em;
        border-radius: 20px;
        width: 48px;
        height: 48px;
        display: block;
        z-index: 999;
        cursor: pointer;
    }
    .email-sidebar.close-sidebar {
        transform: translateX(-100%);
    }
    .email-sidebar.open-sidebar {
        transform: translateX(0);
    }
    /* animation */
    .menu-btn.hamburger-animite .menu-btn-burger {
        transform: translateX(-50px);
        background-color: transparent;
        box-shadow: none;
    }
    .menu-btn.hamburger-animite .menu-btn-burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.hamburger-animite .menu-btn-burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}