.email-list {
    box-shadow: 0 0 4px 1px #00000038;
    margin: 0 1em;
}

.email-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #00000038;
    padding: 10px;
    width: auto;
    transition: 0.3s;
    cursor: pointer;
    gap: 1em;
}

.email-preview:hover {
    box-shadow: -2px 0px 0px #4d90f0, 0px -2px 2px 1px #dadce0, 2px 0px 0px #4d90f0, 0 2px 2px 1px rgb(60 64 67 / 15%);
    ;
}

.email-preview:active {
    box-shadow: -2px 0px 0px #4d90f0, 0px -2px 2px 1px #dadce0, 2px 0px 0px #4d90f0, 0 2px 2px 1px rgb(60 64 67 / 15%);
    ;
}

.email-preview>* {
    color: #363636;
}

.email-preview a {
    flex: 1;
}

.email-preview-body {
    flex: 1;
    justify-self: flex-end;
}

.email-preview-info h3 {
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
}

.email-preview-info .sender {
    margin-inline-end: 2em;
}

.email-preview-info .sender, .subject {
    margin-inline-end: 2em;
    width: 100px;
}

h3.subject {
    margin-top: 2px;
}

.read-true {
    background-color: #dbdbdb8c;
    color: #646464;
}

.email-preview .expand-txt {
    color: grey;
}

.email-preview-btns .remove-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    transition: 0.3s;
}

.email-preview-btns .remove-btn:hover {
    background-color: lightcoral;
}

.email-preview-btns .remove-btn img {
    object-fit: cover;
    max-width: 1.5em;
}

@media (max-width: 420px) {
    .email-preview-info {
        flex-direction: column;
        gap: 10px 0;
        align-items: flex-start;
    }
}