.keep-preview {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(251, 94, 94, 0.678);
    width: 33%;
    /* height: 250px; */
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    /* object-fit: cover; */
}

.keep-preview img {
    margin-bottom: 10px;
}

.modal-panel {
    display: flex;
    justify-content: space-around;
    /* width: 200px; */
    /* padding: 20px; */
    /* display: flex; */
}

.modal-panel input[type=color] {
    height: 40px;
    width: 40px;
    border-width: 0;
    border-radius: 10px;
}

.keep-preview form input {
    width: 90%;
    padding: 10px;
    border-color: rgba(255, 248, 220, 0.37);
    border-radius: 5px;
}

.keep-preview form {
    display: flex;
    padding: 5px;
}

.notes-container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}


/* .regular-container {
    display: flex;
    flex-direction: column;
    column-count: 3;
} */

.todo-container {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.todos-list {
    display: flex;
    flex-direction: column;
}

.edit-btn {
    background-image: url(../imgs/edit-button.png);
}

.pin-btn {
    background-image: url(../imgs/basic_pin1.png);
}

.bcg-btn {
    background-image: url(../imgs/paint-board-and-brush.png);
}

.remove-btn {
    background-image: url(../imgs/trash.png);
}