* {
    box-sizing: border-box;
}

.keep-app {
    text-align: center;
}

html {
    margin: 0px;
    padding: 0px;
    line-height: 1.25;
}

.main-keep {
    text-decoration: none;
}

.keep-container {
    display: flex;
    flex-direction: column;
}

.btn {
    cursor: pointer;
    font-size: 2.5rem;
    height: 35px;
    width: 35px;
    border: transparent;
    background-color: transparent;
    background-position: center;
    background-size: contain;
}

@media (max-width: 500px) {
    .app-main-nav>*:not(:first-child) {
        /* flex-direction: row; */
        /* display: none; */
    }
}