/* HELPERS */


/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}


/* list helpers */

.clean-list2 {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}