/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

/* other helpers */

.clean-list2 {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.btn-email {
    box-shadow: #95959559 0px 1px 3px;
    height: 100%;
    padding: 0.3em 1em;
    width: 100%;
    border-radius: 5px;
}

.ipt {
    margin: 0 0 0;
    padding: 0 0 0;
    border-radius: 1rem;
    font-size: 1rem;
    outline: none;
    border: 0;
    background-color: #F1F3F4;
}