    @import "main-header.css";
    @import "home.css";
    @import "helpers.css";
    @import "../../apps/books/assets/css/main.css";
    @import "../../apps/email/assets/css/main-email-app.css";
    @import "../../apps/email/assets/css/email-header.css";
    @import "../../apps/email/assets/css/email-preview.css";
    @import "../../apps/email/assets/css/email-filter.css";
    @import "../../apps/email/assets/css/email-status.css";
    @import "../../apps/email/assets/css/email-sidebar.css";
    @import "../../apps/email/assets/css/email-details.css";
    @import "../../apps/email/assets/css/email-compose.css";
    @import "../../apps/keep/assets/css/main-keep-app.css";
    @import "../../apps/keep/assets/css/keep-preview.css";
    @import "../../apps/keep/assets/css/add-note.css";
    html {
        width: 100vw;
        height: 100vh;
    }

    body {
        background-color: #ffffff;
        margin: 0;
        overflow-x: hidden;
    }

    #root {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    main {
        flex: 1;
    }

    .home-page {
        height: 100vh;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
    }

    .background {
        /* background-image: url(https://source.unsplash.com/Q7PclNhVRI0); */
        background-image: url("/assets/img/wallpaper.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }

    .blur {
        background: #4a4a4a33;
        /* #4a4a4a33 */
        backdrop-filter: blur(8px);
        height: 100vh;
        width: 100%;
    }

    .home-hero-text {
        padding: 0 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .home-hero-text> :not(:first-child) {
        /* margin-top: 100px; */
    }

    .home-hero-text span:nth-child(even) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        background-color: #56565685;
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    .home-hero-text span:nth-child(even):hover {
        background-color: #fff;
    }

    .home-hero-text span:nth-child(even):hover a {
        color: rosybrown;
    }

    .home-page h1 {
        text-align: center;
        font-size: 50px;
    }

    .home-hero-text span {
        text-transform: capitalize;
        font-size: 35px;
        font-weight: 400;
        line-height: 1.2;
        margin: 0;
        margin: 0 auto;
        /* color: #fff; */
        text-shadow: 5px 5px 35px rgb(43 49 54 / 40%);
    }

    .home-hero-text a {
        text-decoration: none;
        color: #ffffff;
    }

    footer {
        width: 100vw;
        padding: 25px;
        background-color: #f2f2f2;
        align-self: center;
    }

    footer small {
        color: #70757a;
    }