    @import "/apps/email/assets/css/main-email-app.css";
    @import "/apps/email/assets/css/email-preview.css";
    @import "/assets/css/helpers.css";
    @import "/apps/keep/assets/css/main-keep-app.css";
    @import "/apps/keep/assets/css/keep-preview.css";
    @import "/apps/keep/assets/css/add-note.css";
    /* Todo: be more specific */
    
    body {
        background-color: lightblue;
        margin: 0;
    }
    
    #root {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    .app-header {
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
    
    .clean-list {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    .home-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .home-page h1 {
        font-size: 50px;
    }
    
    .logo {
        text-align: center;
        background-color: rgba(92, 92, 92, 0.582);
        height: 75px;
        padding-top: 10px;
        border-bottom: 5px solid rgb(32, 42, 42);
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        width: 100%;
    }
    
    .logo a {
        font-size: 40px;
        text-decoration: none;
        color: rgb(32, 42, 42);
        margin-inline-end: 29px;
    }
    
    .book-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1.5vw
    }
    
    .book-list>*:not(:first-child) {
        margin-left: 20px;
    }
    
    .book-preview {
        box-shadow: 0 0px 3px 2px #7e7d7d78;
        padding: 10px;
        text-align: center;
    }
    
    .book-preview:hover {
        box-shadow: 0 0px 3px 2px rgb(128, 128, 128);
        background-color: rgb(131, 211, 238);
        cursor: pointer;
    }
    
    .book-preview img {
        width: 100px;
    }
    
    .preview-details h3 {
        text-transform: uppercase;
    }
    
    .book-filter {
        padding: 15px 0;
        text-align: center;
    }
    
    .book-filter label:not(:first-of-type) {
        margin-left: 10px;
    }
    
    .book-filter input {
        margin-left: 5px;
        border-radius: 30px;
    }
    
    .book-details {
        position: absolute;
        left: 100px;
        justify-content: center;
        object-fit: cover;
        background-color: beige;
        display: grid;
        grid-template-columns: repeat(20, 50px);
        grid-template-rows: repeat(15, 50px);
        gap: 10px;
    }
    
    .book-details img {
        grid-column: 12;
        grid-row: 2;
    }
    
    .book-details h2 {
        grid-column: 2/9;
        grid-row: 2;
    }
    
    .book-details h4 {
        grid-column: 2/9;
        grid-row: 3;
    }
    
    .secondery-info {
        grid-column: 2/9;
        grid-row: 4/9;
    }
    
    .actions {
        grid-column: 12;
        grid-row: 10;
        outline: none;
        background-color: transparent;
        border: none;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        display: flex;
    }
    
    .actions button {
        outline: none;
        background-color: transparent;
        border: none;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
    }
    
    .book-review h2 {
        grid-column: 2;
        grid-row: 15;
    }
    
    .book-review form {
        display: grid;
        grid-template-columns: repeat(8, 50px);
        grid-template-rows: repeat(4, 50px);
    }
    
    .full-name {
        grid-column: 1/3;
        grid-row: 1;
    }
    
    .rate {
        grid-column: 1/3;
        grid-row: 2;
    }
    
    .read-time {
        grid-column: 1/3;
        grid-row: 3;
    }
    
    .full-review {
        grid-column: 5/8;
        grid-row: 1/4;
    }
    
    .full-review .textarea {
        grid-column: 4/8;
        grid-row: 2/-1;
    }
    
    .submit-btn {
        grid-column: 8;
        grid-row: 5;
    }
    
    .secondery-info p {
        font-weight: bold;
    }
    
    .secondery-info p span {
        font-weight: initial;
        font-size: larger;
    }
    
    .dear {
        color: red;
    }
    
    .cheap {
        color: green;
    }
    
    footer {
        align-self: center;
        margin-top: 30px;
    }