body {
    background-color: lightblue;
    margin: 0;
}

.logo {
    text-align: center;
    height: 75px;
    padding-top: 10px;
}

.logo a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(32, 42, 42);
    margin-inline-end: 29px;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5vw
}

.book-list>*:not(:first-child) {
    margin-left: 20px;
}

.book-preview {
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    padding: 10px;
    text-align: center;
}

.book-preview:hover {
    box-shadow: 0 0px 3px 2px rgb(128, 128, 128);
    background-color: rgb(131, 211, 238);
    cursor: pointer;
}

.book-preview img {
    width: 100px;
}

.preview-details h3 {
    text-transform: uppercase;
}

.book-filter {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.book-filter label:not(:first-of-type) {
    margin-left: 10px;
}

.book-filter input {
    margin-left: 5px;
    border-radius: 30px;
    width: 85px;
}

.book-details {
    position: absolute;
    left: 100px;
    justify-content: center;
    object-fit: cover;
    background-color: beige;
    display: grid;
    /* grid-template-columns: repeat(20, 50px); */
    grid-template-rows: repeat(10, 50px);
    gap: 10px;
}

.book-details img {
    /* display: none; */
    padding-right: 50px;
    padding-top: 30px;
    grid-column: 9;
    grid-row: 1;
}

.book-details h2 {
    grid-column: 2/9;
    grid-row: 2;
}

.book-details h4 {
    grid-column: 2/9;
    grid-row: 3;
}

.secondery-info {
    grid-column: 2/6;
    grid-row: 4/9;
}

.read-more {
    grid-column: 2/6;
    grid-row: 9;
}

.book-details button {
    grid-column: -1;
    grid-row: 1;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.secondery-info p {
    font-weight: bold;
}

.secondery-info p span {
    font-weight: initial;
    font-size: larger;
}

.dear {
    color: red;
}

.cheap {
    color: green;
}

@media (max-width: 550px) {
    .book-filter {
        flex-direction: column;
        align-items: center
    }
}